.container{
width:400px;
margin:50px auto;
}

input{
padding:10px;
width:250px;
}

button{
padding:10px;
margin-left:10px;
cursor:pointer;
}

li{
display:flex;
justify-content:space-between;
margin-top:10px;
}